<h2>Books:</h2>

<% if @books.any? %>
  <ul>
    <% @books.each do |book| %>
      <li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no books to display. </p>
<% end %>

<br>

<h4>Add a new book!</h4>
<form action="/books" method="post">
  <div class="form-group">
    <label for="title">Title:</label>
    <input id="title" name="title" class="form-control" type="text" placeholder="Title">
    <label for="genre">Genre:</label>
    <input id="genre" name="genre" class="form-control" type="text" placeholder="Genre">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>
<br>
<a href="/">Back</a>